*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: fill-available;
    height: -webkit-fill-available;
}

body{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;

    min-height: 100vh;
    min-height: fill-available;
    min-height: -webkit-fill-available;
}

.container{
    user-select: none;
}